<% @events.each do |event|%>
  <li> <%= link_to "titre de l'evenement: #{event.title}", event_path(event.id) %>
  <br>déscription : <%=event.description%>
  <br>prix: <%=event.price%>
  <br>lieu: <%=event.location%>
  </li>
<% end%>
