<h1> index de event qui sera ma page d'accuil</h1>

<% @events.each do |event|%>
  <li>titre de l'evenement: <%=event.title%>
  <br>déscription : <%=event.description%>
  <br>prix: <%=event.price%>
  <br>lieu: <%=event.location%>
  </li>
<% end%>
